.custom-btn{
        text-align: center;
        background-color: var(--theme);
        color: var(--white);
        border: 2px solid var(--purple-grey);
        padding:  1rem ;
        border-radius: .5rem;
        font-size: 1rem;
        font-weight: 400;
        width: 70vw;
        margin: 1rem;
}
.custom-btn:hover{
    background-color: var(--white);
    color: var(--theme) ;
    transition:all .3s;
}