.custom-input{
    background-color: var(--theme);
    color: var(--white);
    border: 2px solid var(--purple-grey);
    padding:  1rem ;
    border-radius: .5rem;
    font-size: 1rem;
    width: 70vw;
    margin: 1rem;
}
.custom-input:focus{
    outline: none;
    border-color: var(--white);
}
.custom-input::placeholder{
    color: var(--purple-grey);
}
.label-input{
    color: var(--purple-grey);
}
.active{
    border-color: var(--white);
}