.custom-audio-player{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background-color: rgba(  14, 2, 21, .5);
}
.display-image-player{
    height: 50px;
    width: 50px;

    object-fit: cover;
}
.duration-range{
    filter: hue-rotate(25deg);
    width: 100%;
}
.duration-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:.5rem;
    width:50%;
}
.volume-range{
    filter: hue-rotate(25deg);
    width: 100%;
}
.volume-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:.5rem;
    width:20%;
}

.audio-btn{
    cursor: pointer;
}